a {
    margin: 10px;
}

.form-input {
  display: block;
  margin-bottom: 20px;
  width: 40%;
  min-width: 350px;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 10px;
}

.btn-primary {
  border: none;
  border-radius: 5px;
  background-color: #0a2c6b;
  color: #fff;
  padding: 10px;
}