/* Background image courtesy of https://pngtree.com/free-backgrounds, free background photos from pngtree.com */


body {
    margin:10px;
    background-image: url("../assets/—Pngtree—elegant abstract smooth swoosh speed_1179370.jpg");
    background-size: cover;
    height: calc(100vh - 10px);
}

.navLink {
    margin: 10px;
    font-size: 15px;
    font-weight: 700;
}

.eventDiv {
    border: 1px black solid;
    margin: 10px;
    padding: 10px;
}

.cart {
    background-color: #fff !important;
}

@media screen and (max-width: 620px) {
    .navLink {
        display: block;
    }
}